// Colors

// Dark Theme
$main-bg: #141c2f;
$snd-mainBg: #1d2945;
$box-bg: #0b101b;
$in-box-bg: #22142e;
$btn-clr: #7c97d7;
$hvr-clr: #90a3cf;

// White Theme
$grsh-blue: #f6f8ff;

// Global Colors
$white: #ffffff;
$grsh-white: rgba($white, 0.6);

// Durations
$trnsDu: 0.3s;
